*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.ds{
    color: rgb(0, 255, 255);
    font-weight: bold;
    
}

.heading{
    text-align: center;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.audio{
    width: 800px;
    height: 500px;
    margin-top: 20px;
   display: flex;
        justify-content: center;
        align-items: center;
    background-color: white;
}

